@charset "UTF-8";
@import "mixin";

.follow-empty {
  margin-bottom: 20px;
  line-height: 280px;
  text-align: center;
}

.follow-item {
  margin-bottom: 20px;
  min-height: 280px;
  .el-card__header {
    padding: 10px 20px;
  }
  .follow-hd {
  	line-height: 26px;
    h3 {
    	float: left;
      font-size: 14px;
      strong {
        color: #848e99;
      }
    }
    p {
      float: right;
      color:#848e99;
      font-size: 13px;
    }
  }
  .follow-bd {
    padding: 10px;
    overflow: hidden;
    //border-bottom: 1px solid #f4f4f4;
    &.order-list {
      li{
        width: 50%;
      }
    }
    li {
      float: left;
      overflow: hidden;
      width: 100%;
      text-align: left;
      line-height: 40px;
      strong {
      	float: left;
	    	width: 8em;
	    	text-align: right;
        color: #848e99;
      }
      p, div {
      	display: block;
      	margin-left: 8em;
      }
      textarea {
        width: 100%;
        height: 190px;
        line-height: 24px;
        overflow-y: auto;
        font-size: 14px;
        color: #2c2f33;
      }
    }
  }
}
